<form action="/festivals/topfestivals" method="post">
    <fieldset>
        <input name="genres" id="genres" type="checkbox" value="Techno" id="Techno" onchange='if(this.value != 0) { this.form.submit(); }'>
            <label for="Techno">Techno</label><br>
        <input name="genres" id="genres" type="checkbox" value="HardTechno" id="HardTechno" onchange='if(this.value != 0) { this.form.submit(); }'>
            <label for="HardTechno">HardTechno</label><br>
        <input name="genres" id="genres" type="checkbox" value="Dance" id="Dance" onchange='if(this.value != 0) { this.form.submit(); }'>
            <label for="Dance">Dance</label><br>
        <input name="genres" id="genres" type="checkbox" value="Trance" id="Trance" onchange='if(this.value != 0) { this.form.submit(); }'>
            <label for="Trance">Trance</label><br>
        <input name="genres" id="genres" type="checkbox" value="House" id="House" onchange='if(this.value != 0) { this.form.submit(); }'>
            <label for="House">House</label><br>
        <input name="genres" id="genres" type="checkbox" value="EDM" id="EDM" onchange='if(this.value != 0) { this.form.submit(); }'>
            <label for="EDM">EDM</label><br>
        <input name="genres" id="genres" type="checkbox" value="Drum&Bass" id="Drum&Bass" onchange='if(this.value != 0) { this.form.submit(); }'>
            <label for="Drum&Bass">Drum&Bass</label><br>
        <input name="genres" id="genres" type="checkbox" value="Dubstep" id="Dubstep" onchange='if(this.value != 0) { this.form.submit(); }'>
            <label for="Dubstep">Dubstep</label><br>
        <input name="genres" id="genres" type="checkbox" value="Hardcore" id="Hardcore" onchange='if(this.value != 0) { this.form.submit(); }'>
            <label for="Hardcore">Hardcore</label><br>
        <input name="genres" id="genres" type="checkbox" value="Hardstyle" id="Hardstyle" onchange='if(this.value != 0) { this.form.submit(); }'>
            <label for="Hardstyle">Hardstyle</label><br>
        <input name="genres" id="genres" type="checkbox" value="Pop" id="Pop" onchange='if(this.value != 0) { this.form.submit(); }'>
            <label for="Pop">Pop</label><br>
        <input name="genres" id="genres" type="checkbox" value="Hiphop" id="Hiphop" onchange='if(this.value != 0) { this.form.submit(); }'>
            <label for="Hiphop">Hiphop</label><br>
        <input name="genres" id="genres" type="checkbox" value="Urban" id="Urban" onchange='if(this.value != 0) { this.form.submit(); }'>
            <label for="Urban">Urban</label><br>
    </fieldset>
</form>