<form action="/festivals/topfestivals" method="post">
    <fieldset>
        <input name="genres" id="genres" type="checkbox" value="Techno" id="Techno">
            <label for="Techno">Techno</label><br>
        <input name="genres" id="genres" type="checkbox" value="HardTechno" id="HardTechno">
            <label for="HardTechno">HardTechno</label><br>
        <input name="genres" id="genres" type="checkbox" value="Dance" id="Dance">
            <label for="Dance">Dance</label><br>
        <input name="genres" id="genres" type="checkbox" value="Trance" id="Trance">
            <label for="Trance">Trance</label><br>
        <input name="genres" id="genres" type="checkbox" value="House" id="House">
            <label for="House">House</label><br>
        <input name="genres" id="genres" type="checkbox" value="EDM" id="EDM">
            <label for="EDM">EDM</label><br>
        <input name="genres" id="genres" type="checkbox" value="Drum&Bass" id="Drum&Bass">
            <label for="Drum&Bass">Drum&Bass</label><br>
        <input name="genres" id="genres" type="checkbox" value="Dubstep" id="Dubstep">
            <label for="Dubstep">Dubstep</label><br>
        <input name="genres" id="genres" type="checkbox" value="Hardcore" id="Hardcore">
            <label for="Hardcore">Hardcore</label><br>
        <input name="genres" id="genres" type="checkbox" value="Hardstyle" id="Hardstyle">
            <label for="Hardstyle">Hardstyle</label><br>
        <input name="genres" id="genres" type="checkbox" value="Pop" id="Pop">
            <label for="Pop">Pop</label><br>
        <input name="genres" id="genres" type="checkbox" value="Hiphop" id="Hiphop">
            <label for="Hiphop">Hiphop</label><br>
        <input name="genres" id="genres" type="checkbox" value="Urban" id="Urban">
            <label for="Urban">Urban</label><br>

        <button type="submit">Submit</button>
    </fieldset>
</form>