<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/festivals/add">Add festival</a></li>
            <li><a href="/festivals/myfestivals">My List</a></li>
            <li><a href="/contact.html">Contact</a></li>
        </ul>
    </nav>
</header>