<header>
    <nav>
        <ul>
            <li><a href="/festivals/homepage">Home</a></li>
            <li><a href="/festivals/topfestivals">Top Festivals</a></li>
            <li><a href="/festivals/add">Festival Toevoegen</a></li>
            <li><a href="/festivals/mylist">Mijn Festivals</a></li>
            <li><a href="/festivals/account">Account</a></li>
        </ul>
    </nav>
</header>