<form action="/festivals/homepage" method="post">
    <select name="month" id="month" onchange='if(this.value != 0) { this.form.submit(); }'>
        <option value="Januari">Januari</option>
        <option value="Februari">Februari</option>
        <option value="Maart">Maart</option>
        <option value="April">April</option>
        <option value="Mei">Mei</option>
        <option value="Juni">Juni</option>
        <option value="Juli">Juli</option>
        <option value="Augustus">Augustus</option>
        <option value="September">September</option>
        <option value="Oktober">Oktober</option>
        <option value="November">November</option>
        <option value="December">December</option>
    </select>
</form>