/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'roboto';
	src: url('../fonts/roboto.woff2') format('woff2'),
			 url('../fonts/roboto.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


*, *::after, *::before {
    box-sizing:border-box;  
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/

/* Light mode */
@media (prefers-color-scheme: light) {
    :root {
      --color-text: #000000;
      --color-background: #FFFFFF;
      --color-border: #000000;
      --color-cartborder: #004EFF;
      --color-carttext: #FFFFFF;
      --color-button: #FFFFFF;
      --color-buttonbg: #004EFF;
      --color-headerp: #004EFF;
      --color-textalt: #004EFF;
      --color-brand: #004EFF;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
	:root {
			--color-text: #FFFFFF;
			--color-background: #000000;
      --color-border: #FFFFFF;
      --color-cartborder: #E0A000;
      --color-carttext: #000000;
      --color-button: #000000;
      --color-buttonbg: #E0A000;
      --color-headerp: #E0A000;
      --color-textalt: #E0A000;
      --color-brand: #E0A000;
	}
}




body {
    font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-color: var(--color-background);
}


dt {
    font-weight: bold;
}


dd {
    margin: 0 0 1em 0;
}


nav {
    background: #171717;
    margin: auto;
}


nav ul {
    display: flex;
    list-style: none;
    margin: auto;
    padding: 1em;
    justify-content: center;

}


nav li {
    margin: 0;
    padding: 1em;
}


nav li:last-child {
    border-right: none;
}


a {
    text-decoration: none;
    color: var(--color-headerp);
    padding: .5em;
}


a:hover {
    text-decoration: underline;
}


form > * {
    margin: 1em;
}


button {
    background: var(--color-buttonbg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 5em;
    padding: .5em;
    border: none;
    color: var(--color-button);
    font-size: 1em;
}

label {
    color: var(--color-text);
}


input[type=text], input[type=number], textarea {
    border: 1px solid var(--color-border);
    min-width: 27em;
    padding: .3em;
}


fieldset {
    max-width: 30em;
    border: 1px solid var(--color-border);
}


legend{
    font-weight: bold;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    background: #eb5e28;
    text-align: center;
}

footer a{
    color: var(--color-text);
}

.inner {
    margin-bottom: 4em;
}

.columns {
    display: flex;
}

.columns > * {
    padding: 1em;
}

h1 {
    text-transform: capitalize;
    text-align: center;
    color: var(--color-text);
}

h2 {
    text-transform: capitalize;
    text-align: center;
    color: var(--color-text);
}

section {
    background-color: var(--color-buttonbg);
    border: 1px var(--color-border) solid;
    padding: 1em;
    color: var(--color-text);
    box-shadow: 5px 5px var(--color-border);
    margin: 1em;
}

section h2 {
    text-align: center;
}

section h3,
section.showUser h3 {
    text-align: center;
    color: var(--color-cartborder);
}

section h4,
section.showUser h4 {
    text-align: center;
    align-items: center;
}

section div.locatie {
    display: flex;
    justify-content: center;
}

section div.locatie p {
    padding: .5em;
    color: var(--color-text);
}

section ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section li {
    list-style: none;
    margin: .5em;
    padding: .5em;
    background-color: #eb5e28;
    color: #fffcf2;
}

section img {
    background-color: #ccc5b9;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

section.showUser {
    background-color: #ecc99e;
    color: black;
    margin: 1em;
    box-shadow: none;
    border: none;
    text-align: center;
}

.video-player {
    width: 300px;
    margin-inline: auto;
    position: relative;
}

.video-player video {
    width: 100%;
    vertical-align: top;
}

.controls {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    display: flex;
}

.controls button {
    margin: .3em;
    border: 0;
    background: var(--color-buttonbg);
    border-radius: 5px;
    color: var(--color-text);
    line-height: 30px;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#stop {
    font-size: 1em;
    padding-top: 0;
}



/*********************/
/*      States       */
/*********************/

.controls button:hover {
    background-color: #ecc99e;
}



